.card{
    width: auto;
    display: grid;
    place-items: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(141, 141, 141, 0.5);
    border-radius: 5px;
    padding: 20px 30px;
}
    
@media screen and(max-width: 558px) {
    .card{
        width: 400px;
    }   
}

.logo{
    width: 100px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(141, 141, 141, 0.5);
    animation: move 5s infinite;
}

@keyframes move {
    0% {
        transform: translatey(0);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0);
    }
}

.title{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0;
}

.text-info{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10px 0;
}

.input{
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0;
}

.send{
    width: 150px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #3E5372;
    border-radius: 3px;
    outline: none;
    background-color: #3E5372;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.send:hover{
    background-color: #fff;
    color: #3E5372;
    border: 1px solid #3E5372;
}

.errors{
    background-color: #3E5372;
    padding: 15px;
    color: #fff;
    border-radius: 3px;    
    font-weight: 600;
    box-shadow: 0 0 10px rgba(141, 141, 141, 0.5);
    margin-bottom: 10px;
        -webkit-animation: errors 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: errors 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    
}

.message-success{
    background-color: #3E5372;
    padding: 15px;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 3px;    
    font-weight: 600;
    box-shadow: 0 0 10px rgba(141, 141, 141, 0.5);
    background-image: none;
	-webkit-animation: message-success 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: message-success 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes message-success {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes message-success {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

@-webkit-keyframes errors {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes errors {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  